.linear-equations-solver {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 100%;
}

.equation-input {
    display: flex;
    padding: 0 1rem;
    background: #e9e9e9;
    border-radius: 10px;
    width: 25rem;
    border: 2px solid #ccc;
}

.mq-root-block {
    padding: 0.5rem !important;
}

.mq-math-mode .mq-supsub.mq-sup-only {
    vertical-align: 0.3rem !important;
}

.solving-steps p {
    font-family: Symbola, "Times New Roman", serif;
    font-size: 20px;
    font-weight: 500;
}

.table {
    margin: 2rem 0 0 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    border-radius: 5px;
    overflow: hidden;
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}

.row.blue {
    background: #2980b9;
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}